
.center{
    margin: auto;
    width: 100%;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.container{
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
    align-items: center;
    padding: 0.4em 0.1em 0.4em 0.1 ; 
    margin: 0.4em;
    background-color: #1a1a1a;
    color: darkgray;

}

.name,
.Genders,
.marital-status,
.other-details,
.tnc{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.4em 0.1em 0.4em 0.1 ; 


}

.name-name{
    padding: 0.4em 0.1em 0.4em 0.1em ; 
    margin: 0.4em;
    display: flex;
    flex-direction: column; 
}

.form-heading{
    height: auto;
    font-size: 4em;
    font-family: "Sofia", "sans-serif";
}

.label-input{
    font-family: Montserrat-SemiBold;
    font-size: 1vw;
    color: #e6e6e6;
    line-height: 1.5;
    text-transform: uppercase;

}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

button{
    padding: 0.4em;
    margin: 0.4em;

}
body{
    background-color: #e6e6e6;
    height: auto;
}

#details,
.text-inp{
    background-color: #d9d9d9;
    font-family: Montserrat-SemiBold;
    font-size: 1em;
    color: #555;
    line-height: 1.2;
    border-radius: 5px 5px 5px 5px;
}




input[type=radio]{
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.5em;
}